<body style="background-color: #142545">
<div class="container mt-5 text-white">
  <%= simple_form_for(@costume) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :title %>
    <%= f.input :price %>
    <%= f.submit%>
  <% end %>

  <div class = 'pt-3 mb-5'>
    <%= link_to "Back to Index", costumes_path%>
  </div>
</div>
</body>
