<body style = "background-color: #94b8b8">
  <div class="container mt-5 text-center">
    <h1><%= @costume.title %></h1>
    <div class="col">
      <div class="card h-100">
        <%= cl_image_tag @costume.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>
      <h2 class = mt-3 >$<%= @costume.price %></h2>
      <p><%= @costume.description %></p>
  <%= simple_form_for [@costume, @booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
    <%= f.submit 'Schedule your booking' %>
  <% end %>
  </div>
</body>
