<body style = "background-color: #142545">
  <div class="container p-5 text-center text-white">
    <h1 class = "text-uppercase"><%= @costume.title%></h1>
    <div class="col d-flex justify-content-center">
      <div class="card h-100 border border-warning border-1">
       <%= cl_image_tag @costume.photo.key, height: 550, width: 400 %>
      </div>
    </div>
      <p class= 'mt-3 fs-4'><strong>$<%= @costume.price %></strong></p>
      <p class= 'fs-4'><%= @costume.description %></p>
      <div class="col pt-5 d-flex justify-content-center">
        <%= simple_form_for [@costume, @booking], data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
        <%= f.submit 'Schedule your booking' %>
        <% end %>
      </div>
      <br>
        <%= link_to "Back to Index", costumes_path  %>
  </div>
</body>
